{{>layouts/header}}
<div class="row d-flex m-auto my-2 justify-content-center" style="max-width:800px">
    <div class="col-12" style="max-width: 800px">
<h1>All Posts</h1>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col" style="width: 15%">ID</th>
    <th scope="col" style="width: 65%">Title</th>
    <th scope="col" style="width: 20%">Writer</th>
  </tr>
  </thead>
  <tbody>
  {{#pages}}
    <tr>
      <td scope="row">{{id}}</td>
     <td><a href="/posts/{{id}}" class="link-dark text-decoration-none d-block">{{title}}</a></td>
     <td><a href="/users/{{users.username}}" class="link-dark text-decoration-none d-block">{{writer}}</a></td>
    </tr>
  {{/pages}}
  </tbody>
</table>
<div class="p-2 clearfix">
    <a href="/new"><button type="button" class="btn btn-outline-info float-end" style="width:15%; min-width: fit-content;">Write</button></a>
</div>
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item{{^hasPrevious}} disabled{{/hasPrevious}}">
            <a class="page-link" href="?page={{previous}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{#hasPrevious}}<li class="page-item"><a class="page-link" href="?page={{previous}}">{{previous}}</a></li>{{/hasPrevious}}
        <li class="page-item disabled">
            <a class="page-link" href="?page={{current}}"><span class="sr-only">{{current}}</span></a>
        </li>
        {{#hasNext}}<li class="page-item"><a class="page-link" href="?page={{next}}">{{next}}</a></li>{{/hasNext}}
        <li class="page-item{{^hasNext}} disabled{{/hasNext}}">
            <a class="page-link" href="?page={{next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    </div>
</div>
{{>layouts/footer}}